.footer{
    font-family: Arial ;
    font-size: large;
    color: forestgreen;
    margin-bottom: 50px;
}
body {
    background-color: #dd83b0b7;
}
    body {
        font-family: Arial;
    }
    body {
        font-size: larger;
    }